
<% provide(:title, 'Sign Up') %>
<h1> Listing </h1>



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @listings, html: { multipart: true } do |f| %>
        <% if @listings.errors.any? %>
            <div class="error_explantion">
              <h2><%= pluralize(@listings.errors.count, "error") %></h2>
              <ul>
                <% @listings.errors.full_messages.each do |msg| %>
                    <li> <%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        Title: <%= f.text_field :title %>
        Description: <%= f.text_field :description %>
        Unit: <%= f.text_field :unit %>
        Street: <%= f.text_field :street %>
        Suburb: <%= f.text_field :suburbID %>
        Price: <%= f.text_field :price %>
        Bedroom: <%= f.text_field :bedroom %>
        Bathroom: <%= f.text_field :bathroom %>
        Carports: <%= f.text_field :carports %>
        Land Size: <%= f.text_field :land_size %>


<%#        <% f.fields_for :images do |builder| %>
<%#            <% if builder.object.new_record? %>
<%#                <p>
<%#                    <%= builder.label :image_link, "Image File" %>
<%#                    <%= builder.file_field :image_link %>
<%#                </p>
<%#            <% end %>
<%#        <% end %>

        Picture: <%= f.file_field :image_link %>
        <%#Picture 2: <%= f.file_field :image_link %>
        <%#Picture 3: <%= f.file_field :image_link %>
        <%#Picture 4: <%= f.file_field :image_link %>

        <%= f.submit "Submit" %>

    <% end %>
  </div>
</div>

