<% provide(:title, 'user details') %>




			
	<div class="row user-signup-form">
		<div class="large-9 large-offset-3 columns">
			<h1>User details</h1>
<%= form_for :details do |f| %>
  
  
	<div class="row user-signup-form">
          <div class="large-9 columns">
		First Name: <%= f.text_field :firstName, :class => "firstName" %>
			
		Last Name: <%= f.text_field :lastName, :class => "lastName"  %>
		
		mobile Number: <%= f.number_field :mobileNumber, :class => "mobileNumber" %>
	
	DOB:<%= f.number_field :DOB, :class => "DOB" %><%= f.number_field :DOB, :class => "DOB" %><%= f.number_field :DOB, :class => "DOB" %>
			
	</div>
		</div>
			
	<div class="row user-signup-form">
          <div class="large-9 columns">
			
			Street Number: <%= f.number_field :streetNumber, :class => "streetNumber" %>
			
			Address Line 1: <%= f.text_field :address, :class => "address" %>
			
			Address Line 2: <%= f.text_field :address, :class => "address" %>
			
			post code: <%= f.number_field :postCode, :class => "postCode" %>
		</div>	
	
		</div>
		
	<div class="row user-signup-form">
		<div class="large-9 columns">
			<%= f.submit "Submit",  :class => "button"  %>
		</div>
		<% end %>