<% provide(:title, 'user details') %>





<div class="row user-signup-form">
  <div class="large-9 large-offset-3 columns">
    <h1>User details</h1>
    <%= form_for @user_detail do |f| %>
		</div>
			</div>

        <div class="row user-signup-form">
          <div class="large-9 columns collapse">
		  
            First Name: <%= f.text_field :name, :class => "name" %>
			
			 </div>
        </div>
			
		<div class="row user-signup-form">
          <div class="large-9 columns">	

            Last Name: <%= f.text_field :surname, :class => "surname"  %>
		
		 </div>
        </div>
		
		<div class="row user-signup-form">
          <div class="large-9 columns">

            mobile Number: <%= f.number_field :phone, :class => "phone" %>
			
			 </div>
        </div>
			
		<div class="row user-signup-form">
          <div class="large-9 columns">

            DOB:<%= f.date_field :DOB, :class => "DOB" %>

          </div>
        </div>

        <div class="row user-signup-form">
          <div class="large-9 columns">
            <%= f.submit "Submit",  :class => "button"  %>
          </div>
        </div>
        
    <% end %>